@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loading-container{
    animation: rotate 1s linear infinite;
    color: white;
}
@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}